*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul,
ol {
    list-style: none;
}

button,
input,
textarea,
select {
    /* border: none; */
    /* outline: none; */
    background: none;
}

input,
textarea,
select {
    width: 100%;
}

textarea {
    resize: vertical;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
}

button {
    background: transparent;
}

:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
}

::selection {
    background: var(--color-primary);
    color: white;
}