.nav {

    &>a {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

}

.wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.active {
    color: var(--color-primary);
    font-weight: 600;
}